#mainNav{
  background-color: black;
  padding: 0;
  margin: 0;
  }
  ul{
    display: flex;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
  }
  li {
    display: inline;
    float: left;
  }
  .navLink {

    display: block;
    padding: 8px;
    color: white;
  }
  .navLink:hover{
    background-color: red;
    color: white;
  }

  